In [98]:
import pandas as pd
import numpy as np
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [99]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
   ...:                           'foo', 'bar', 'foo', 'foo'],
   ...:                    'B' : ['one', 'one', 'two', 'three',
   ...:                           'two', 'two', 'one', 'three'],
   ...:                    'C' : np.random.randn(8),
   ...:                    'D' : np.random.randn(8)})

In [100]:
df

     A      B         C         D
0  foo    one -0.079310 -0.830728
1  bar    one  0.385962  0.077073
2  foo    two -0.520752 -0.777719
3  bar  three -1.328954 -0.820222
4  foo    two  0.157141  1.250896
5  bar    two -1.339802  0.377452
6  foo    one -0.259705 -0.798126
7  foo  three -0.677489  0.973334

In [101]:
grouped = df.groupby('A')
for name, group in grouped:
    print(name)
    print(group)

bar
     A      B         C         D
1  bar    one  0.385962  0.077073
3  bar  three -1.328954 -0.820222
5  bar    two -1.339802  0.377452
foo
     A      B         C         D
0  foo    one -0.079310 -0.830728
2  foo    two -0.520752 -0.777719
4  foo    two  0.157141  1.250896
6  foo    one -0.259705 -0.798126
7  foo  three -0.677489  0.973334

In [102]:
import itertools
new_data = []
m, n = train.shape
a = list(itertools.combinations(range(n), 2))
list(train.columns[list(a[0])])

['ACTION', 'RESOURCE']

In [103]:
group_ids = train.groupby(list(train.columns[list(a[0])])).grouper

In [104]:
train['new']=group_ids.group_info[0]

In [127]:
a = train['new'].value_counts()
b = a[a==2].index.tolist()

In [164]:
df = pd.DataFrame(np.random.randint(4, size=(10, 2)), columns=list('ab'))

In [165]:
df

   a  b
0  2  1
1  0  3
2  3  1
3  2  2
4  0  1
5  3  2
6  1  2
7  2  0
8  1  3
9  3  0

In [166]:
a=df.a.value_counts()

In [167]:
b = a[a<=2].index.tolist()
b

[1, 0]

In [168]:
df.ix[df.a.isin(b), 'a']

1    0
4    0
6    1
8    1
Name: a, dtype: int32

In [161]:
df

   a  b
0 -1  2
1 -1  0
2 -1  0
3  2  0
4  2  1
5  2  1
6 -1  0
7  2  3
8  2  2
9 -1  1