In [37]:
import pandas as pd
import numpy as np
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [38]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
   ...:                           'foo', 'bar', 'foo', 'foo'],
   ...:                    'B' : ['one', 'one', 'two', 'three',
   ...:                           'two', 'two', 'one', 'three'],
   ...:                    'C' : np.random.randn(8),
   ...:                    'D' : np.random.randn(8)})

In [39]:
df

     A      B         C         D
0  foo    one  0.430850 -0.171951
1  bar    one -0.395517  0.440091
2  foo    two -0.699889 -0.656847
3  bar  three  2.242059  0.866294
4  foo    two  0.918034 -0.964361
5  bar    two -0.836658 -0.010135
6  foo    one  0.593895 -1.224499
7  foo  three  0.718155  1.403655

In [46]:
grouped = df.groupby('A')
for name, group in grouped:
    print(name)
    print(group)

bar
     A      B         C         D
1  bar    one -0.395517  0.440091
3  bar  three  2.242059  0.866294
5  bar    two -0.836658 -0.010135
foo
     A      B         C         D
0  foo    one  0.430850 -0.171951
2  foo    two -0.699889 -0.656847
4  foo    two  0.918034 -0.964361
6  foo    one  0.593895 -1.224499
7  foo  three  0.718155  1.403655

In [53]:
import itertools
new_data = []
m, n = train.shape
a = list(itertools.combinations(range(n), 2))
list(train.columns[list(a[0])])

Index(['ACTION', 'RESOURCE'], dtype='object')

In [50]:
group_ids = train.groupby(list(train.columns[list(a[0])]))

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 8),
 (7, 9),
 (8, 9)]